*{
    box-sizing: border-box;
    margin: 0 auto;
    


    
}

.SULKA{
   
    font-size: 20px;
    border: ;
    display: inline-block; /* Строчно-блочный элемент */
    background: #c93c3c; /* Серый цвет фона */
    color: #fff; /* Белый цвет текста */
    padding: 1rem 1.5rem; /* Поля вокруг текста */
    text-decoration: none; /* Убираем подчёркивание */
    border-radius: 3px;
    
}
.pismo {
    
}
.fot0{
    height:400px;

   


}
.fot1{
   
    
}
.nagrada{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 auto;
   
}
.fot1{
    padding-left: 5px;
}
